html, body { height: 100%; width: 100%; margin: 0; background-color: black;}

#gameview{
	display: inline-block;
	box-sizing: border-box;
	width: 800px;
	height: 600px;
	background-color: rgb(204, 204, 204);
	margin: 5px 5px 5px 5px;
	border-bottom: 10px dotted white;
	border-top: 10px dotted white;
}

#gamefield{
	width: 800px;
	height: 600px;
	background-image: url(content/pixel_night_sky_shop_preview.png);
}

#chatview {
	display: inline-block;
	box-sizing: border-box;
	width: 400px;
	height: 600px;
	background-color: rgb(204, 204, 204);
	
	margin: 5px 5px 5px 5px;
	border-bottom: 10px dotted white;
	border-top: 10px dotted white;
}
